<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DACN.Properties.Settings.DACNConnectionString" connectionString="Data Source=LAPTOP-NM9QRUHJ\SQLEXPRESS;Initial Catalog=DACN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>